# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# Project specific
analysis_results/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 